<a href="https://colab.research.google.com/github/vananthi/Pandas-for-practices/blob/main/practise_for_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# to crate data frame
import pandas as pd
Mydata={
    'cars':['BMW','SHIFT','JOKUVAR'],
    'passangers':[3,4,5]
}
Myvar=pd.DataFrame(Mydata)
print(Myvar)

      cars  passangers
0      BMW           3
1    SHIFT           4
2  JOKUVAR           5

In [ ]:
#to find the version of pandas
import pandas as pd
print(pd.__version__)

1.5.3

In [ ]:
# to find series
import pandas as pd
a=[1,4,5,6]
myvar=pd.Series(a)
print(myvar)

0    1
1    4
2    5
3    6
dtype: int64

In [ ]:
# to find the index
import pandas as pd
a=[3,4,5,6]
myvar = pd.Series(a,index=['w','x','y','z'])
print(myvar)

w    3
x    4
y    5
z    6
dtype: int64

In [ ]:
print(myvar[0])

3

In [ ]:
#return the value of 'y'
print(myvar['y'])

5

In [ ]:
#Create a simple Pandas Series from a dictionary:Key/Value Objects as Series
import pandas as pd
colories={'day1':100,'day2':200,'day3':300}
myvar=pd.Series(colories)
print(myvar)

day1    100
day2    200
day3    300
dtype: int64

In [ ]:
#Create a Series using only data from "day1" and "day2":
import pandas as pd
calories={'day1':100,'day2':200,'day3':300}
myvar=pd.Series(calories,index=['day1','day2'])
print(myvar)

day1    100
day2    200
dtype: int64

In [ ]:
#to create data frame:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [ ]:
#return row 0
#refer to the row index:
print(df.loc[0])

calories    420
duration     50
Name: 0, dtype: int64